<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <appSettings>
      <add key="local.address" value="http://localhost:8082/peer/" />

      
      <add key="startup.discovery" value="false" />
      <add key="startup.nickserver" value="true" />
      
      <!-- <add key="server.address" value="http://52.90.85.136:8085/server/" /> -->
      <add key="server.address" value="http://localhost:8085/server/" />
    </appSettings>
</configuration>