<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <appSettings>
      <add key="local.address" value="http://localhost:8081/peer/" />
    
    </appSettings>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
        </services>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPeerService" />
                <binding name="BasicHttpBinding_INickService" />
                <binding name="BasicHttpBinding_IMemoService" />
                <binding name="BasicHttpBinding_IChatService" />
            </basicHttpBinding>
            <udpBinding>
                <binding name="UdpBinding_IChatService" />
            </udpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8085/server/peer/http" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPeerService" contract="PeerServiceReference.IPeerService"
                name="BasicHttpBinding_IPeerService" />
            <endpoint address="http://localhost:8085/server/nick/http" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_INickService" contract="NickServiceReference.INickService"
                name="BasicHttpBinding_INickService" />
            <endpoint address="http://localhost:8085/server/memo/http" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMemoService" contract="MemoServiceReference.IMemoService"
                name="BasicHttpBinding_IMemoService" />
            <endpoint address="http://localhost:8081/peer/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IChatService" contract="ChatServiceClient.IChatService"
                name="BasicHttpBinding_IChatService" />
            <endpoint address="soap.udp://localhost:8081/peer/" binding="udpBinding"
                bindingConfiguration="UdpBinding_IChatService" contract="ChatServiceClient.IChatService"
                name="UdpBinding_IChatService" />
        </client>
    </system.serviceModel>
</configuration>